// NOTE Default Scheme
$body-bg: #f2f2f2;
$primary: #3ba5dc;
$secondary: #ff3697;
$danger: #eb5757;
$success: #27ae60;
$warning: #ff7f50;
$info: #00c9bd;
$dark: #313130;
$light: #f8f9fa;

// NOTE Rustic
// $body-bg: #c0b897;
// $primary: #94855e;
// $secondary: #4c4c46;
// $danger: #8b413b;
// $success: #719b6a;
// $warning: #b0603f;
// $info: #427185;
// $dark: #4d4436;
// $light: #f8eedb;

// NOTE Steel
// $body-bg: #c5d3ca;
// $primary: #889a8f;
// $secondary: #726073;
// $danger: #db545c;
// $success: #65a46d;
// $warning: #e57f38;
// $info: #35a0aa;
// $dark: #313233;
// $light: #fefdfd;

// NOTE Forest
// $body-bg: #d3dabb;
// $primary: #95a278;
// $secondary: #625e7b;
// $danger: #933731;
// $success: #3d714c;
// $warning: #df7141;
// $info: #498496;
// $dark: #2c312a;
// $light: #fffeef;

// NOTE Ocean
// $body-bg: #d6ecd2;
// $primary: #91d0d0;
// $secondary: #8aa0b8;
// $danger: #e87a6c;
// $success: #72b37a;
// $warning: #e1a45b;
// $info: #72b3ad;
// $dark: #557180;
// $light: #f6f9e9;

//NOTE Crucible
// $body-bg: #d5b58b;
// $primary: #884e35;
// $secondary: #9e7b62;
// $danger: #c64b4c;
// $success: #6ea25f;
// $warning: #cb8047;
// $info: #2a8c80;
// $dark: #432a24;
// $light: #faf6dd;
